body {
    background: url(/icon/calculator-svgrepo-com.svg);
    background-repeat:repeat;
    background-size: 100px 100px;
    backface-visibility: visible;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    opacity: 0.9;
    z-index: -1
}
.calculator {
    background-color: black;
    width: 16rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 2rem auto;

}
#display {
    width: 93%;
    background-color: rgb(216, 216, 216);
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    height: 2rem;
    overflow-x: auto;
}
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}
button {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 0.3rem;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.operator {
    background-color: #ebc108;
    color: black;
}
.operator:hover {
    background-color: hsl(49, 93%, 43%);
}
.operator:active {
    background-color: hsl(49, 93%, 50%);
}

button:hover {
    background-color: #555;

}
button:active {
    background-color: #777;
}

#black-blank {
    display: hidden;
    background-color: black;
}